* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.high-scores {
    font-size: larger;
    color: var(--dark);
    text-decoration: none;
}

#timer {
    font-size: large;
}

main {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin: 16px;
    padding: 16px;
}

#intro {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
    margin: 16px;
    padding: 16px;
}

main p {
    display: flex;
    flex-flow: column wrap;
    font-size: larger;
    font-weight: 100;
    margin: 16px;
    padding: 16px;
 }

 #start-button {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    color: black;
    background-color: var(--dark);
    max-width: max-content;
    border-radius: 7px;
    margin: 16px;
 }

 #start-button:hover {
    background-color: var(--light);
    box-shadow: 0 0.4rem 1.4rem 0 var(--dark);
    transition: transform, 150ms;
    transform: scale(0.9);
 }
 
/* 
 #questions {
    display:none;
 } */

 .hidden {
    display:none;
 }